* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
    background-image: url(../img/home.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007a99;
    padding: 15px 20px;
    color: white;
    height: 10vh;
}
  
.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}
  
.navbar nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
}
  
.container {
    display: flex;
    margin: 20px;
}
  
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: #aeebf3;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 80vh;   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.479)
}
  
.profile-pic {
    width: 250px;
    height: 250px;
    border: 10px solid #4998f3;
    border-radius: 50%;
    margin-bottom: 10px;
}
  
.username {
    font-weight: bold;
    font-size: 1.2em;
    color: #11b3c9 ;
    margin-bottom: 20px;
}
  
.info .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
.info .info-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
  
.logs {
    width: 75%;
    margin-left: 30px;
    position: relative;
}

.log-list {
    overflow: auto;
    max-height: 80vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.logs::before {
    content: "";
    position: absolute;
    top: 2em;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.774));
    pointer-events: none;
}

.log-list::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.774));
    pointer-events: none;
}

.logs h2 {
    font-size: 1.5em;
    color: #6b5b53;
    margin-bottom: 15px;
}

.log-item {
    background-color: #deffffbb;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3)
}

.log-item p {
    margin: 5px;
}

.log-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add {
    position: fixed;
    bottom: 11vh;
    left: 11vw;
}

.add p {
    margin-top: 6px;
    font-size: 75px;
}

.add a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    text-align: center;
    background-color: #04abd4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.add a:hover {
    background-color: #007a99;
    transition: 0.5s;
}

@media (max-width: 1200px) {
    .profile-pic {
        height: 125px;
        width: 125px;
        border: 5px solid #4998f3;
    }
}

@media (max-width: 800px) {
    .container {
        margin-top: 2vh;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        position: fixed;
        width: 100vw;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #007a99;
        color: white;
    }

    .profile {
        width: 100%;
        height: auto;
    }
      
    .navbar .logo {
        position: fixed;
        display: none;
    }

    .navbar nav a {
        font-size: 25px;
    }

    nav {
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 15vw;
    }

    .logs {
        width: 95%;
        margin: 0px;
        margin-bottom: 11vh;
    }
    
    .log-list {
        overflow: auto;
        max-height: 38vh;
    }
    
    .logs::before {
        content: "";
        position: absolute;
        top: 5vh;
        left: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.774));
        pointer-events: none;
    }

    .logs h2 {
        text-align: center;
        margin-top: 15px;
    }

    .add {
        bottom: 12vh;
        left: 78vw;
    }

    .add p {
        margin-top: 6px;
        font-size: 65px;
    }

    .add a {
        height: 75px;
        width: 75px;
    }
}