* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 15px;
}
  
body {
    font-family: Arial, sans-serif;
    background-image: url(../img/home.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007a99;
    padding: 15px 20px;
    color: white;
    height: 10vh;
}
  
.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}
  
.navbar nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
}
  
.container {
    display: flex;
    margin: 20px;
}
  
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: #aeebf3;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 80vh;   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.479)
}
  
.profile-pic {
    width: 250px;
    height: 250px;
    border: 10px solid #4998f3;
    border-radius: 50%;
    margin-bottom: 10px;
}
  
.username {
    font-weight: bold;
    font-size: 1.2em;
    color: #11b3c9 ;
    margin-bottom: 20px;
}
  
.info .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
.info .info-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
  
.logs {
    width: 75%;
    margin-left: 30px;
}

.log-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
    max-height: 80vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.logs h2 {
    font-size: 1.5em;
    color: #6b5b53;
    margin-bottom: 15px;
}

.log-item {
    background-color: #deffffbb;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.log-item .close-btn {
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.log-item p {
    margin: 5px;
}

.log-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add {
    position: fixed;
    bottom: 11vh;
    left: 11vw;
}

.add button {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 75px;
    height: 85px;
    width: 85px;
    cursor: pointer;
    text-align: center;
    background-color: #04abd4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.add button:hover {
    background-color: #007a99;
    transition: 0.5s;
}

.popup {
    position: fixed;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.14);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 250ms ease-in-out 0ms;
}

.popup.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 250ms ease-in-out 0ms;
}

.popup .close-btn {
    position: absolute;
    top: 12px;
    right: 13px;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.form h2 {
    text-align: center;
    color: #4d4dff;
    margin: 10px 0 20px;
    font-size: 2em;
}

.form-element {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-element label {
    font-size: 1.5em;
    color: #7272fd;
}

.form-element input[type="time"] {
    margin-top: 5px;
    display: block;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    outline: none;
    border: 1px solid #7272fd;
    border-radius: 5px;
}

.form-element input[type="submit"] {
    width: 45%;
    height: 2em;
    border: none;
    outline: none;
    font-size: 1em;
    background: #04abd4;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}

.form-element input[type="submit"]:hover {
    background: #007a99;
    transition: 0.5s;
}

@media (max-width: 1200px) {
    .profile-pic {
        height: 125px;
        width: 125px;
        border: 5px solid #4998f3;
    }
}

@media (max-width: 800px) {
    .container {
        margin-top: 2vh;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        position: fixed;
        width: 100vw;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #007a99;
        color: white;
    }

    .profile {
        width: 100%;
        height: auto;
    }
      
    .navbar .logo {
        position: fixed;
        display: none;
    }

    .navbar nav a {
        font-size: 25px;
    }

    nav {
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 15vw;
    }

    .logs {
        width: 95%;
        margin: 0px;
        margin-bottom: 11vh;
    }
    
    .log-list {
        overflow: auto;
        max-height: 38vh;
    }

    .logs h2 {
        text-align: center;
        margin-top: 15px;
    }

    .add {
        bottom: 12vh;
        left: 78vw;
    }

    .add button {
        font-size: 65px;
        height: 75px;
        width: 75px;
    }
    .form-element input[type="time"] {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .popup {
        width: 300px;
    }
}

@media (max-width: 800px) and (max-height: 800px) {
    .profile-pic {
        height: 75px;
        width: 75px;
        position: fixed;
        top: 1vh;
        left: 3vw;
    }
}