* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background-image: url(https://i.imgur.com/WbsrmRu.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
}
